body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(128, 128, 128, 0.454);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  text-align: center;
  margin: 5%;
  color: gold;
  text-shadow: 2px 2px #e27777;
}

p {
  width: 40%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  img {
    width: 7.5%;
    height: 7.5%;
  }
}
.beer-list {
  display: flex;
  flex-direction: column;
}

.singlebeer img {
  height: 5%;
  width: 10%;
}

header {
  img {
    width: 40%;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 39%;
  margin-left: 1%;
  input,
  label {
    margin-top: 1%;
  }
}
